body {
  font-family: "Courier New", Courier New, sans-serif;
  background-color: #3c3c3c;
  margin: 0;
  padding: 0;
}

header, footer {
  width: 100%;
  height: 25px;
}

header {
  padding-top: 10px;
  background-color: #000;
  margin-bottom: 20px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

.nav-a, .logo {
  color: #00ff47;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 15px;
  text-decoration: none;
}

header a.on, header a:hover {
    background-color: #71ce71;
    color: #000;
    border-radius: 0px;
}

h1,h2,h3,h4,h5,h6 {
  padding-left: 10px;
  -webkit-margin-after: .2em;
 color: rgb(135, 241, 135);
}

form {
  padding: 20px 20px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
  background-color: #bbccbb;
}

main, section {
  margin-left: 10px;
  margin-right: 10px;
}
section {
  margin-top: 10px;
}

input {
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
}

footer a:link { color:#d0d0d0; }
footer a:visited { color:#c0c0c0; }
footer a:hover { color:#ffffff; }
footer a:active { color:#f0f0f0; }

footer a {
  padding-left: 10px;

}

img.thumb {
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

.thumb-link {
  text-decoration: none;
}

.error, .message {
  padding: 10px;
  background-color: black;
}

.error {
  color: red;
}

.message {
  color: lime;
}

.hidden {
  display: none;
}

@media screen and (max-aspect-ratio: 3/2) {
  main, section {
    margin-left: 0px;
    margin-right: 0px;
  }

  input, label {
    display: block;
  }
  fieldset {
    border: none;
  }
  .thumb {
    width: 48%;
    height: auto;
  }
}
